.animation-table-cell {
    font-size: 25px;
    text-align: center;
    position: relative;
    overflow: visible;
    transition: 1.5s;
}

.animation-table-cell.overflow-hidden {
    overflow: hidden;
    pointer-events: none;
}

.default-cell-value {
    width: 93%;
    position: absolute;
    transition-duration: 0.2s;
    transition-property: transform;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.default-cell-value.editing-mode {
    transform: translateY(-55px);
}

.default-cell-value.hidden {
    pointer-events: none;
    opacity: 0;
}

.animation-cell-value {
    opacity: 0;
    pointer-events: none;
    top: 55px;
    position: relative;
    transition-duration: 0.2s;
    transition-property: transform;
}

.animation-cell-value.editing-mode {
    z-index: 1;
    transform: translateY(-55px);
}

.animation-cell-value.not-hidden {
    pointer-events: all;
    opacity: 1;
}
